@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background : #161925;
    --foreground : #FBFEF9;
    --primary: #A63446;
    --secondary: #F0A202;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground
  }
}